:root {
    font-family: "Josefin Sans", sans-serif;
    font-size: var(--font-size-root);
    font-weight: 300;
}

* {
    margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
    line-height: 1.2em;
}

a {
    text-decoration: none;
}

ol, ul {
	list-style: none;
}