:root {
    font-family: "Josefin Sans Light", "Josefin Sans", sans-serif;
    font-size: var(--font-size-root);
    font-weight: 300;
}

* {
    margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
    line-height: 1.2em;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
    color: initial;
    &:visited {
        color: initial;
    }
}

button {
    background-color: transparent;
    cursor: pointer;
}

ol, ul {
	list-style: none;
}