:root {
    font-family: "Josefin Sans", "Josefin Sans Light", sans-serif;
    font-size: var(--font-size-root);
    font-weight: 300;
}

* {
    margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
    line-height: 1.2em;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
    color: initial;
    &:visited {
        color: initial;
    }
}

button {
    background-color: transparent;
    cursor: pointer;
}

ol, ul {
	list-style: none;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #e7e7e7;
}

::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #bbb;
}

::-moz-selection {
    background-color: rgba(0, 0, 0, 0.99);
    color: #fff;
}

::selection {
    background-color: rgba(0, 0, 0, 0.99);
    color: #fff;
}