:root {
    --white: #ffffff;
    --black: #000000;
    --gray50: #808080;
    --gray66: #a8a8a8;
    --pink: #ff2977;
    --font-size-root: 16px;
    --font-size-huge: 97px;
    --font-size-large: 52px;
    --font-size-medium: 40px;
    --border-width: 2px;
    --bezier: cubic-bezier(0, .5, 0, 1);
}